<!DOCTYPE html>
<html lan="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Krishna's Kitchen</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    </head>
    <body>
        <header>
            <a href="#" class="logo">Food<span>.</span></a>
            <div class="menuToggle" onclick="toggleMenu();"></div>
            <ul class="navigation">
                <li><a href="#banner" onclick="toggleMenu();">Home</a></li>
                <li><a href="#about" onclick="toggleMenu();">About</a></li>
                <li><a href="#menu" onclick="toggleMenu();">Menu</a></li>
                <li><a href="#expert" onclick="toggleMenu();">Expert</a></li>
                <li><a href="#testimonials" onclick="toggleMenu();">Testimonials</a></li>
                <li><a href="#contact" onclick="toggleMenu();">Contact</a></li>
            </ul>
        </header>
        <section class="banner" id="banner">
            <div class="content">
                <h2>Always Choose Good</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Mollitia unde alias omnis rem consectetur corrupti facilis 
                </p>
                <a href="#" class="btn">Our Menu</a>
            </div>
        </section>

        <section class="about" id="about">
            <div class="row">
                <div class="col50">
                    <h2 class="titleText"><span>A</span>bout Us</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Veniam aperiam amet aliquam. Esse aperiam vitae recusandae 
                    nostrum tempore atque voluptatum, perspiciatis incidunt ipsam 
                    officia consectetur repellendus dolorem minima ratione amet!<br><br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, 
                    doloribus eveniet. Vel consequatur temporibus est ab delectus iste, 
                    porro suscipit voluptates et ratione inventore eum, maxime fuga provident 
                    molestias modi. Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Culpa dolores illum rem! Et officia fugit iste sapiente rerum, assumenda 
                    reprehenderit eaque, neque architecto in, praesentium molestiae dicta? Harum, 
                    saepe tempora?
                    </p>
                </div>
                <div class="col50">
                    <div class="imgBx">
                        <img src="../images/img1.jpg">
                    </div>
                </div>
            </div>
        </section>

        <section class="menu" id="menu">
            <div class="title">
                <h2 class="titleText">Our <span>M</span>enu</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="content">
                <div class="box">
                    <div class="imgBx">
                        <img src="images/menu1.jpg">
                    </div>
                    <div class="text">
                        <h3>Special Salads</h3>
                    </div>
                </div>
                <div class="box">
                    <div class="imgBx">
                        <img src="images/menu2.jpg">
                    </div>
                    <div class="text">
                        <h3>Special Soup</h3>
                    </div>
                </div>
                <div class="box">
                    <div class="imgBx">
                        <img src="images/menu3.jpg">
                    </div>
                    <div class="text">
                        <h3>Special Pasta</h3>
                    </div>
                </div>
                <div class="box">
                    <div class="imgBx">
                        <img src="images/menu4.jpg">
                    </div>
                    <div class="text">
                        <h3>Special Salads</h3>
                    </div>
                </div>
                <div class="box">
                    <div class="imgBx">
                        <img src="images/menu5.jpg">
                    </div>
                    <div class="text">
                        <h3>Special Soup</h3>
                    </div>
                </div>
                <div class="box">
                    <div class="imgBx">
                        <img src="images/menu6.jpg">
                    </div>
                    <div class="text">
                        <h3>Special Salads</h3>
                    </div>
                </div>
            </div>
            <div class="title">
                <a href="#" class="btn">View All</a>
            </div>
        </section>

        <section class="expert" id="expert">
            <div class="title">
                <h2 class="titleText">Our Kitchen <span>E</span>xpert</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
            </div>
            <div class="content">
                <div class="box">
                    <div class="imgBx">
                        <img src="images/expert1.jpg">
                    </div>
                    <div class="text">
                        <h3>Someone Famous</h3>
                    </div>
                </div>
                <div class="box">
                    <div class="imgBx">
                        <img src="images/expert2.jpg">
                    </div>
                    <div class="text">
                        <h3>Someone Famous</h3>
                    </div>
                </div>
                <div class="box">
                    <div class="imgBx">
                        <img src="images/expert3.jpg">
                    </div>
                    <div class="text">
                        <h3>Someone Famous</h3>
                    </div>
                </div>
                <div class="box">
                    <div class="imgBx">
                        <img src="images/expert4.jpg">
                    </div>
                    <div class="text">
                        <h3>Someone Famous</h3>
                    </div>
                </div>
            </div>
        </section>

        <section class="testimonials" id="testimonials">
            <div class="title white">
                <h2 class="titleText">They <span>S</span>aid About Us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="content">
                <div class="box">
                    <div class="imgBx">
                        <img src="images/testi1.jpg">
                    </div>
                    <div class="text">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Nihil accusamus impedit neque non fugiat et ipsam quibusdam 
                            nemo iusto possimus sint quae natus, ad facilis consequatur 
                            soluta excepturi quam. Error.
                        </p>
                        <h3>Someone Famous</h3>
                    </div>
                </div>
                <div class="box">
                    <div class="imgBx">
                        <img src="images/testi2.jpg">
                    </div>
                    <div class="text">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Nihil accusamus impedit neque non fugiat et ipsam quibusdam 
                            nemo iusto possimus sint quae natus, ad facilis consequatur 
                            soluta excepturi quam. Error.
                        </p>
                        <h3>Someone Famous</h3>
                    </div>
                </div>
                <div class="box">
                    <div class="imgBx">
                        <img src="images/testi3.jpg">
                    </div>
                    <div class="text">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Nihil accusamus impedit neque non fugiat et ipsam quibusdam 
                            nemo iusto possimus sint quae natus, ad facilis consequatur 
                            soluta excepturi quam. Error.
                        </p>
                        <h3>Someone Famous</h3>
                    </div>
                </div>
            </div>
        </section>

        <section class="contact" id="contact">
            <div class="title">
                <h2 class="titleText"><span>C</span>ontact Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="contactForm">
                <h3>Send Message</h3>
                <div class="inputBox">
                    <input type="text" placeholder="Name">
                </div><div class="inputBox">
                    <input type="text" placeholder="Email">
                </div>
                <div class="inputBox">
                    <textarea placeholder="Your Message"></textarea>
                </div>
                <div class="inputBox">
                    <input type="submit" value="Send">
                </div>
            </div>
        </section>

        <div class="copyrightText">
            <p>Copyright 2020 <a href="#">Krishna Kuamr</a>. All Right Reserved</p>
        </div>

        <script type="text/javascript">
            window.addEventListener('scroll', function(){
                const header = document.querySelector('header');
                header.classList.toggle("sticky",window.scrollY > 0);
            });

            function toggleMenu() {
                const menuToggle = document.querySelector('.menuToggle');
                const navigation = document.querySelector('.navigation');
                menuToggle.classList.toggle('active');
                navigation.classList.toggle('active');
            }
        </script>
    </body>
</html>